$cart-item-sale-bg: #FF0000;
$cart-item-old-price: #434343;
$cart-item-total-amount: #434343;

$cart-item-button-like-border: #DADADA;

.main {
   display: flex;
   gap: 20px;

   &__left {
      width: 65%;
   }
   &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 38px;
   }
   &__title {
      font-size: 2rem;
      text-transform: uppercase;
   }
   &__button {
      border: 0;
      background-color: inherit;
      font-size: 0.875rem;
      color: #6B6B6B;
      cursor: pointer;
   }
   &__list {
      display: flex;
      flex-direction: column;
      border: 0;
      max-width: 853px;
      max-height: 580px;
      padding: 0;
      gap: 18px;
      overflow-y: auto;
   }
   &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 130px;
      padding: 0;
      opacity: 1;
      cursor: default;

      &-img {
         max-width: 150px;
         height: 100%;
         max-height: 123px;

         &-container {
            border: 1px solid #fff;
            border-radius: 20px;
            width: 130px;
            height: 130px;
            position: relative;

            &--sale::before {
               content: '%';
               border: 1px solid $cart-item-sale-bg;
               border-radius: 20px 0 20px 0;
               background-color: $cart-item-sale-bg;
               font-size: 1.25rem;
               text-align: center;
               color: #fff;
               width: 42px;
               height: 31px;
               position: absolute;
            }
         }
      }
      &-column {
         display: flex;
         align-items: center;
         flex-direction: column;
         
         &--main {
            align-items: start;
         }
      }
      &-title {
         font-size: 1.25rem;
         font-weight: 700;
         max-width: 238px;
      }
      &-fav-control {
         position: relative;
         border: 1px solid $cart-item-button-like-border;
         border-radius: 50%;
         width: 44px;
         height: 42px;
      }
      &-price {
         font-size: 1.25rem;
         font-weight: 700;
         color: $cart-item-sale-bg;
         white-space: nowrap;

         &-old {
            font-size: 0.875rem;
            font-weight: 400;
            color: $cart-item-old-price;
            text-decoration: line-through;
         }
         &--default {
            color: #000;
         }
      }
      &-total {
         font-size: 1.25rem;
         font-weight: 700;
         white-space: nowrap;
      }
      &-amount {
         font-size: 0.875rem;
         font-weight: 400;
         color: $cart-item-total-amount;
      }
   }

   &__panel {
      width: 35%;
   }
}

@media (max-width: 1150px) {
   .main {
      &__item {
         &-controls {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 7.5px;
         }
         &-img {
            max-width: 100px;
            height: 85px;

            &-container {
               width: 100px;
               height: 100px;
            }
         }
         &-title {
            font-size: 1.125rem;
         }
      }
   }
}

@media (max-width: 900px) {
   .main {
      &__item {
         height: 172px;

         &-img {
            &-container {
               display: flex;
               flex-direction: column;
               height: 127px;
               gap: 11px;

               &--sale::before {
                  font-size: 1.125rem;
                  height: 25px;
               }
            }
         }
         &-quantity {
            font-size: 0.75rem;
         }
         &-column {
            &--main {
               display: flex;
               flex-direction: column;
               gap: 16px;
            }
            &--prices {
               display: flex;
               flex-direction: row;
               gap: 8px;
            }
         }
         &-price {
            font-size: 1rem;
            font-weight: 400;
         }
         &-title {
            font-weight: 400;
         }
      }
      &__list {
         overflow-y: hidden;
      }
   }
}

@media (max-width: 768px) {
   .main {
      flex-direction: column;

      &__title {
         font-size: 1.4rem;
      }
      &__left {
         width: 100%;
      }
      &__top {
         margin-bottom: 21.5px;
      }
   }
}

@media (max-width: 400px) {
   .main {
      &__item {
         &-title {
            font-size: 0.9rem;
            max-width: 100%;
         }
      }
   }
}