$white-map-border: #fff;
$gray-map-link: #eee;

.delivery {
    display: flex;
    flex-direction: column;
    gap: 46px;

    &__title {
        font-size: 2.0625rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
    }
    &__left {
        width: 50%;
        min-width: 586px;
    }
    &__right {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 50%;
    }
    &__subtitle {
        font-size: 1.25rem;
        font-weight: 700;
        color: red;
        margin-bottom: 5px;
    }
    &__text {
        font-size: 1.25rem;
        font-weight: 400;
        margin-bottom: 34px;
    }
    &__map {
        border: 1px solid $white-map-border;
        border-radius: 23px;
        width: 100%;
        height: 480px;
        position: relative;

        &-container {
            height: 100%;
        }
        &-link {
            font-size: 0.75rem;
            color: $gray-map-link;
            position: absolute;

            &--1 {
                top: 0;
            }
            &--2 {
                top: 14px;
            }
            &--3 {
                top: 28px;
            }
        }
    }
}