.wrapper {
    width: 100%;
    max-width: 1291px;
    margin: 0 auto;
    padding: 0 15px;

    &--darked::before {
        content: '';
        background-color: rgba(0, 0, 0, 0.5);
        width: 100dvw;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }
}