$color-red: #FF0600;
$color-orange-sale: #FFA900;
$color-orange-location-left: #FFA900B3;
$color-orange-location-right: #FFA900;
$color-orange-profile-fill: #FFF8EB;
$color-white: #fff;
$color-gray: #E1E1E1;
$color-red-catalog-item-hover: #FF0000;
$color-gray-input: #6B6B6B;
$color-black-nav-item: #0A0A0A;
$color-orange-link-hover: #FFE8BC;

$nav-top-mobile-border: #E7EFEE;

$color-gray-catalog-divider: #E0E0E0;

$header-p: 10.5px 0;

$button-sale-w: 204px;
$button-sale-h: 43px;

.header {
   &__inner {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-white;
      text-transform: uppercase;
      padding: $header-p;
      cursor: pointer;

      &::before {
         content: '';
         position: absolute;
         top: -22px;
         left: 0;
         right: 0;
         bottom: 0;
         background: url('../../../images/webpImages/header-bg.webp') no-repeat center center, $color-red;
         background-size: contain;
         width: 100dvw;
         height: 97px;
         z-index: -1;
      }
   }
   &__text {
      font-size: 1.25rem;
      font-weight: 900;
      max-width: 355px;
      background-color: $color-red;
   }
   &__important {
      color: $color-red;
      background-color: $color-orange-sale;
      border: 1px solid $color-orange-sale;
      border-radius: 8px;
   }
   &__button {
      border: 1px solid $color-white;
      border-radius: 31px;
      background-color: $color-red;
      color: $color-white;
      font-size: 1.25rem;
      width: $button-sale-w;
      height: $button-sale-h;
      cursor: pointer;
   }
}

.nav {
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 35px 0 50px 0; 
   position: relative;

   &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--left {
         display: flex;
         align-items: center;
         gap: 15px;
      }
      &--right {
         display: flex;
         gap: 6.29px;
      }
   }
   &__bottom {
      position: relative;
   }
   &__logo-img {
      width: 200.09px;
      height: 55px;
   }
   &__item {
      display: inline-block;
   }
   &__button {
      color: $color-white;
      height: 48px;
      cursor: pointer;
      
      &--catalog {
         font-weight: 800;
         border: 1px solid $color-red;
         border-radius: 31px;
         background-color: $color-red;
         padding: 0 19px 0 40px;
         position: relative;
         width: 132px;

         &:not(.active)::before {
            content: '';
            background: url('../../../images/webpImages/catalog-icon.webp') no-repeat center center;
            background-size: 18px 12px;
            width: 18px;
            height: 12px;
            position: absolute;
            top: 50%;
            left: 15%;
            transform: translateY(-50%);
         }
         &.active::before {
            content: '';
            background: url('../../../images/webpImages/catalog-close-icon.webp') no-repeat center center;
            background-size: 14.14px 14.14px;
            width: 14.14px;
            height: 14.14px;
            position: absolute;
            top: 50%;
            left: 15%;
            transform: translateY(-50%);
         }
      }
      &--catalog.nav__button--mobile {
         border: 0;
         background-color: inherit;
         width: 20px;
         padding: 0;
         position: relative;

         &:not(.active)::before {
            content: '';
            background: url('../../../images/webpImages/catalog-icon-mobile.webp') no-repeat center center;
            background-size: 18px 12px;
            width: 20px;
            height: 15px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
         }
         &.active::before {
            content: '';
            background: url('../../../images/webpImages/catalog-close-icon-mobile.webp') no-repeat center center;
            background-size: 14.14px 14.14px;
            width: 16.26px;
            height: 16.26px;
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, 50%);
         }
      }
      &--location {
         display: flex;
         align-items: center;
         border: 0;
         background-color: inherit;
         cursor: pointer;

         &-left {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 3px;
            border: 1px solid $color-orange-location-left;
            border-radius: 16px 0 0 16px;
            background-color: $color-orange-location-left;
            width: 100%;
            height: 100%;
            max-width: 65px;
            position: relative;

            &::before {
               content: '';
               background-image: url('../../../images/webpImages/location-icon.webp');
               background-repeat: no-repeat;
               background-size: 14px 14px;
               width: 14px;
               height: 14px;
            }
            &--single {
               border-radius: 16px;
               width: 43px;
            }
         }
         &-right {
            display: inline-block;
            border: 1px solid $color-orange-location-right;
            border-radius: 0 16px 16px 0;
            background-color: $color-orange-location-right;
            font-weight: 700;
            width: 100%;
            height: 100%;
            max-width: 230px;
            overflow: hidden; 
            text-overflow: ellipsis;
            padding: 6px 0;
         }
      }
      &--tablet {
         &:not(.active)::before {
            left: 50%;
            transform: translate(-50%, -50%);
         }
         &.active::before {
            top: 20%;
            left: 50%;
            transform: translate(-50%, 50%);
         }
      }
   }
   &__form {
      position: relative;
   }
   &__input {
      border: 1px solid $color-gray;
      border-radius: 16px;
      color: $color-gray-input;
      width: 25vw;
      max-width: 317px;
      height: 49px;
      padding-left: 15px;
      padding-right: 17.73px;

      &-button {
         width: 21.27px;
         height: 21.22px;
         border: 0;
         background: url('../../../images/webpImages/search-icon.webp') no-repeat center center;
         background-size: 21.27px 21.22px;
         position: absolute;
         top: 50%;
         left: 23px;
         transform: translate(-50%, -50%);
         cursor: pointer;
      }
   }
   &__locations {
      display: flex;
   }
   &__user {
      display: flex;
      gap: 14px;

      &-action {
         border-radius: 16px;
         height: 48px;
         cursor: pointer;

         &--like {
            border: 1px solid $color-gray;
            background-color: inherit;
            width: 50px;
            position: relative;
            padding: 20px 20.75px;

            &::before {
               content: '';
               background-image: url('../../../images/webpImages/favorite-icon.webp');
               background-repeat: no-repeat;
               background-size: 22px 19.68px;
               width: 22px;
               height: 19.68px;
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translateY(-50%) translateX(-50%);
            }

            &:hover {
               border: 1px solid $color-orange-location-right;
               background-color: $color-orange-profile-fill;
            }
         }
         &--profile {
            border: 1px solid $color-gray;
            background-color: inherit;
            width: 50px;
            position: relative;
            padding: 20px 20.75px;

            &::before {
               content: '';
               background-image: url('../../../images/webpImages/profile-icon.webp');
               background-repeat: no-repeat;
               background-size: 17.81px 19.22px;
               width: 17.81px;
               height: 19.22px;
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translateY(-50%) translateX(-50%);
            }

            &:hover {
               border: 1px solid $color-orange-location-right;
               background-color: $color-orange-profile-fill;

               &::before {
                  background-image: url('../../../images/webpImages/profile-icon-hover.webp');
               }
            }
         }
         &--cart {
            display: flex;
            align-items: center;
            border: 1px solid $color-red;
            background-color: $color-red;
            color: $color-white;
            font-weight: 700;
            padding: 0 11px 0 45px;
            position: relative;
            width: 100%;
            max-width: 130px;
            text-decoration: none;

            &::before {
               content: '';
               background-image: url('../../../images/webpImages/cart-icon.webp');
               background-repeat: no-repeat;
               background-size: 26.11px 22px;
               width: 26.11px;
               height: 22px;
               position: absolute;
               top: 50%;
               left: 15px;
               transform: translateY(-50%);
            }
         }
      }
   }
   &__list {
      display: flex;
      overflow-x: auto;
      gap: 14px;
   }
   &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-orange-profile-fill;
      border: 1px solid  $color-orange-sale;
      border-radius: 16px;
      font-weight: 700;
      color: $color-black-nav-item;
      height: 48px;
      padding: 0 18px 0 14px;
      position: relative;
      gap: 3px;
      cursor: pointer;

      &:hover {
         background-color: $color-orange-link-hover;
      }

      &::before {
         content: '';
         position: relative;
         background-repeat: no-repeat;
         background-size: 26px 26px;
         width: 26px;
         height: 26px;
         top: -2px; 
      }
   }

   &__catalog {
      display: flex;
      border: 1px solid $color-white;
      border-radius: 14px;
      background-color: $color-white;
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
      padding: 38px 0 28px 0;
      width: 100%;
      max-width: 688px;
      max-height: 403px;
      position: absolute;
      top: 100px;
      z-index: 3;

      &__left, &__right {
         width: 50%;
      }
      &__left {
         padding-left: 37px;
      }
      &__right {
         padding-left: 44px;
         overflow-y: scroll;
      }
      &__list {
         display: flex;
         flex-direction: column;
         gap: 25px;
      }
      &__item {
         font-size: 1.25rem;
         font-weight: 600;
         list-style-type: none;
         position: relative;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         color: #000;

         &-button {
            border: 0;
            background-color: inherit;
            width: 30px;
            height: 6.96px;
            position: relative;
            cursor: pointer;

            &::after {
               content: '';
               background: url('../../../images/webpImages/arrow-slide.webp') no-repeat center center;
               background-size: contain;
               width: 5.96px;
               height: 11.89px;
               position: absolute;
               top: -60%;
               right: 24.04px;
            }
         }
         &.nav__catalog__title {
            margin-bottom: 13px;
         }
         &:not(.nav__catalog__title):hover {
            color: $color-red-catalog-item-hover;
            cursor: pointer;

            &::after {
               background: url('../../../images/webpImages/arrow-slide-hover.webp') no-repeat center center;
               background-size: cover;
               transform: translateY(-50%) rotateY(0deg);
            }
         }
         &:not(.nav__catalog__title)::after {
            content: '';
            background: url('../../../images/webpImages/arrow-slide.webp') no-repeat center center;
            background-size: cover;
            width: 6.96px;
            height: 11.89px;
            position: absolute;
            top: 50%;
            right: 24.04px;
            transform: translateY(-50%) rotateY(180deg);
         }
      }
      &__subitem {
         list-style-type: none;
         position: relative;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         cursor: pointer;

         &:hover {
            color: $color-red-catalog-item-hover;
         }
      }
      &__divider {
         background-color: $color-gray-catalog-divider;
         width: 4px;
         height: 349px;
      }
   }
}

#nav__link- {
   &0::before {
      background-image: url('../../../images/webpImages/category-supermarket.webp');
   }
   &1::before {
      background-image: url('../../../images/webpImages/category-cooking.webp');
   }
   &2::before {
      background-image: url('../../../images/webpImages/category-frozen.webp');
   }
   &3::before {
      background-image: url('../../../images/webpImages/category-other.webp');
   }
   &4 {
      font-size: 0.875rem;
      text-decoration: none;

      &::before {
         background-image: url('../../../images/webpImages/category-promotion.webp');
      }
   }
   &5::before {
      background-image: url('../../../images/webpImages/category-shops.webp');
   }
}

@media (max-width: 1150px) {
   .nav {
      &__button {
         &--catalog {
            font-size: 0;
            width: min-content;

            &::before {
               left: 50%;
               transform: translate(-50%, -50%);
            }
         }
         &--location-right {
            max-width: 150px;
            white-space: nowrap;
         }
      }
      &__user-action--cart {
         font-size: 0;
         width: min-content;
      }
   }
}

@media (max-width: 768px) {
   .nav {
      padding: 0;
      gap: 4.5px;
      
      &__top {
         border-bottom: 1px solid $nav-top-mobile-border;
         padding: 9px 0;
      }
      &__logo-img {
         width: 137.47px;
         height: 34.87px;
      }
      &__button {
         height: 33.75px;

         &--location-left--single {
            border-radius: 11.25px;
            font-size: 0.773125rem;
            width: 43.14px;
            height: 100%;
            gap: 0;

            &::before {
               margin-top: 4px;
               background-size: 9.71px 9.71px;
            }
         }
         &--search {
            border: 1px solid $color-red;
            border-radius: 11.25px;
            background-color: $color-red;
            width: 43.14px;
            height: 100%;
            position: relative;

            &::before {
               content: '';
               background-image: url('../../../images/webpImages/search-icon-mobile.webp');
               background-repeat: no-repeat;
               background-size: 14.75px 14.71px;
               width: 14.75px;
               height: 14.71px;
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translateY(-50%) translateX(-50%);
            }
         }
      }
      &__form {
         padding: 15px 0;
      }
      &__input {
         font-size: 1.125rem;
         padding: 0 38px;
         width: 100dvw;
         max-width: calc(100dvw - 30px);
         height: 48px;

         &-button {
            background-size: 14.75px 14.71px;
            left: 23px;
         }
      }
      &__list {
         gap: 6.75px;
         padding-bottom: 14.62px;
      }
      &__link {
         border-radius: 8.09px;
         font-size: 0.6875rem;
         width: 95.06px;
         height: 29.25px;
         padding: 0;

         &::before {
            background-size: 15.84px 15.84px;
            width: 15.84px;
            height: 15.84px;
         }

         &#nav__link-4 {
            font-size: 0.6875rem;
         }
      }
      &__catalog {
         flex-direction: column;
         padding: 12.5px 24px;
         top: 59.86px;
         max-width: 100%;
         height: 100dvh;
         min-height: 500px;
         max-height: calc(100dvh - 59.86px - 52px);
         overflow-y: auto;
         overflow-x: hidden;

         &__item {
            font-size: 1.125rem;
            width: calc(100% - 50px);

            &.nav__catalog__title {
               margin-bottom: 0;
            }
            &:not(.nav__catalog__title)::after {
               right: 0;
            }
            &--noexpand {
               &::after {
                  display: none;
               }
            }
            &-link {
               color: #000;
               text-decoration: none;
            }
         }
         &__title {
            text-transform: uppercase;
            font-weight: 700;
         }
         &__list {
            gap: 17px;

            &--default {
               display: flex;
               flex-direction: column;
               padding: 22.5px 0 22.5px 30px;
               gap: 9px;

               &:not(:first-of-type) {
                  border-top: 1px solid #E7EFEE;
               }
               &:first-of-type {
                  padding-top: 0;
               }
               &:last-of-type {
                  padding-bottom: 0;
               }
            }
         }
         &__subitem {
            margin-left: 30px;
         }
      }
   }
}