.nav-mobile {
   border-top: 1px solid #6B6B6B;
   background-color: #fff;
   width: 100dvw;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 10;
}

.nav-mobile__list {
   display: flex;
   justify-content: space-around;
   padding: 10px 0;
   margin: 0;
   list-style: none;
}