$orange-category-button-text: #DA9000;
$orange-category-button-bg: #FFF8EB;
$orange-category-button-border: #FFE7B9;
$orange-category-button-bg-hover: #FFA900;
$white: #fff;
$black: #000;

$biege-supermarket-bg: #F7FFE6;
$green-supermarket-border: #CCE0A0;
$black-supermarket-text: #383C5C;
$green-supermarket-border-hover: #A8CBA0;

$orange-cooking-bg: #FFF8EB;
$orange-cooking-border: #FFE7B9;
$brown-cooking-text: #774631;
$yellow-cooking-border-hover: #FFA900;

$blue-frozen-bg: #EBEDFF;
$blue-frozen-border: #C0C5F2;
$black-frozen-text: #383C5C;

$aqua-other-bg: #EBFDFF;
$aqua-other-border: #A3D0D6;
$black-other-text: #274447;

$pink-offer-bg: #CD5A7E;
$red-offer-bg: #FF594D;
$peach-offer-bg: #FFA68A;
$yellow-offer-bg: #FFC425;

.category {
    &-section {
        display: flex;
        flex-direction: column;
        padding: 129px 0 94px 0;
        gap: 43px;
    }
    &__info {
        display: flex;
        gap: 30px;
    }
    &__title {
        font-size: 2rem;
        font-family: 700;
        text-transform: uppercase;
    }
    &__button {
        display: flex;
        align-items: center;
        background-color: $orange-category-button-bg;
        border: 1px solid $orange-category-button-border;
        border-radius: 16px;
        color: $orange-category-button-text;
        font-size: 1.375rem;
        font-weight: 500;
        width: 100%;
        max-width: 210px;
        height: 46px;
        padding: 0 23.04px 0 21px;
        position: relative;
        
        &::after {
            content: '';
            background: url('../../images/products/arrow-right-button.png') no-repeat center center;
            background-size: contain;
            width: 6.96px;
            height: 11.89px;
            position: relative;
            left: 15px;
            display: block;
        }

        &:hover {
            background-color: $orange-category-button-bg-hover;
            border: 1px solid $orange-category-button-bg-hover;
            color: $white;
            cursor: pointer;

            &::after {
                background: url('../../images/products/arrow-right-button-hover.png') no-repeat center center;
                background-size: contain;
            }
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 22px;
        column-gap: 24px;

        &.Акции {
            gap: 16px;  
        }
    }
}

.subcategory {
    &__item {
        display: inline-block;
        width: 304px;
        height: 304px;
        position: relative;
        cursor: pointer;
        transition: font-size 0.6s ease-in-out;

        &:hover .subcategory__title {
            font-size: 2rem;
        }

        &.Супермаркет {
            background-color: $biege-supermarket-bg;
            border: 1px solid $green-supermarket-border;
            border-radius: 58px;
            color: $black-supermarket-text;

            &:hover {
                border: 1px solid $green-supermarket-border-hover   ;
            }
        }
        &.Кулинария {
            background-color: $orange-cooking-bg;
            border: 1px solid $orange-cooking-border;
            border-radius: 58px;
            color: $brown-cooking-text;  

            &:hover {
                border: 1px solid $yellow-cooking-border-hover;
            }
        }
        &.Заморозка {
            background-color: $blue-frozen-bg;
            border: 1px solid $blue-frozen-border;
            border-radius: 58px;
            color: $black-frozen-text; 
        }
        &.Другое {
            background-color: $aqua-other-bg;
            border: 1px solid $aqua-other-border;
            border-radius: 58px;
            color: $black-other-text; 
        }
        &.Акции {
            font-size: 1.625rem;
            border-radius: 30px;
            color: $white;
            width: 310px;
            height: 449px;
        }


        &.Вода {
            background-image: url('../../images/products/supermarket-subcategory-1.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 0 92px;
        }
        &.Молоко {
            background-image: url('../../images/products/supermarket-subcategory-2.png');
            background-size: 325px 220px;
            background-repeat: no-repeat;
            background-position: 25px 100px;
        }
        &.Снэки {
            background-image: url('../../images/products/supermarket-subcategory-3.png');
            background-size: 207px 175px;
            background-repeat: no-repeat;
            background-position: 84px 129px;
        }
        &.Кофе {
            background-image: url('../../images/products/supermarket-subcategory-4.png');
            background-size: 268px 142px;
            background-repeat: no-repeat;
            background-position: 27px 146px;
        }
        &.Макароны {
            background-image: url('../../images/products/supermarket-subcategory-5.png');
            background-size: 393px 262px;
            background-repeat: no-repeat;
            background-position: 30px 100px;
        }
        &.Хлеб {
            background-image: url('../../images/products/supermarket-subcategory-6.png');
            background-size: 329px 248px;
            background-repeat: no-repeat;
            background-position: -19px 88px;
        }
        &.Масло {
            background-image: url('../../images/products/supermarket-subcategory-7.png');
            background-size: 288px 193px;
            background-repeat: no-repeat;
            background-position: 16px 118px;
        }
        &.Консервы {
            background-image: url('../../images/products/supermarket-subcategory-8.png');
            background-size: 247px 176px;
            background-repeat: no-repeat;
            background-position: 48px 118px;
        }

        &.Выпечка {
            background-image: url('../../images/products/cooking-subcategory-1.png');
            background-size: 266px 165px;
            background-repeat: no-repeat;
            background-position: 39px 112px;
        }
        &.Пиццы {
            background-image: url('../../images/products/cooking-subcategory-2.png');
            background-size: 356px 351px;
            background-repeat: no-repeat;
            background-position: 26px 65px;
        }
        &.Гриль {
            background-image: url('../../images/products/cooking-subcategory-3.png');
            background-size: 235px 274px;
            background-repeat: no-repeat;
            background-position: 77px 88px;
        }
        &.Свежее {
            background-image: url('../../images/products/cooking-subcategory-4.png');
            background-size: 248px 216px;
            background-repeat: no-repeat;
            background-position: 64px 88px;
        }

        &.Салаты {
            background-image: url('../../images/products/cooking-subcategory-5.png');
            background-size: 276px 286px;
            background-repeat: no-repeat;
            background-position: 39px 77px;
        }
        &.Супы {
            background-image: url('../../images/products/cooking-subcategory-6.png');
            background-size: 303px 324px;
            background-repeat: no-repeat;
            background-position: 51px 41px;
        }
        &.Горячие {
            background-image: url('../../images/products/cooking-subcategory-7.png');
            background-size: 324px 329.44px;
            background-repeat: no-repeat;
            background-position: 51px 58.56px;
        }
        &.Десерты {
            background-image: url('../../images/products/cooking-subcategory-8.png');
            background-size: 185px 247.79px;
            background-repeat: no-repeat;
            background-position: 86px 50.21px;
        }


        &.Пельмени {
            background-image: url('../../images/products/frozen-subcategory-1.png');
            background-size: 275px 182px;
            background-repeat: no-repeat;
            background-position: 48px 143px ;
        }
        &.Хинкали {
            background-image: url('../../images/products/frozen-subcategory-2.png');
            background-size: 300px 202px;
            background-repeat: no-repeat;
            background-position: 10px 108px;
        }
        &.Полу {
            background-image: url('../../images/products/frozen-subcategory-3.png');
            background-size: 338px 290px;
            background-repeat: no-repeat;
            background-position: 16px 64px;
        }
        &.Замороженные {
            background-image: url('../../images/products/frozen-subcategory-4.png');
            background-size: 271px 196px;
            background-repeat: no-repeat;
            background-position: 48px 129px;
        }
        &.Рыба {
            background-image: url('../../images/products/frozen-subcategory-5.png');
            background-size: 287px 226px;
            background-repeat: no-repeat;
            background-position: 56px 99px;
        }
        &.Мясо {
            background-image: url('../../images/products/frozen-subcategory-6.png');
            background-size: 330px 247px;
            background-repeat: no-repeat;
            background-position: 67px 67px;
        }

        &.Красота {
            background-image: url('../../images/products/other-subcategory-1.png');
            background-size: 258px 245px;
            background-repeat: no-repeat;
            background-position: 101px 88px;
        }
        &.Стирка {
            background-image: url('../../images/products/other-subcategory-2.png');
            background-size: 270px 270px;
            background-repeat: no-repeat;
            background-position: 34px 112px;
        }
        &.Полезные {
            background-image: url('../../images/products/other-subcategory-3.png');
            background-size: 280.44px 288.15px;
            background-repeat: no-repeat;
            background-position: 32px 101px;
        }
        &.Бытовая {
            background-image: url('../../images/products/other-subcategory-4.png');
            background-size: 187px 221px;
            background-repeat: no-repeat;
            background-position: 139px 86px;
        }


        &.Сделай {
            background-color: $pink-offer-bg;
            border: 1px solid inherit;
            background-image: url('../../images/products/offers-subcategory-1.png');
            background-size: 441px 294px;
            background-repeat: no-repeat;
            background-position: -68px 149px;
        }
        &.Праздник {
            background-color: $red-offer-bg;
            border: 1px solid inherit;
            background-image: url('../../images/products/offers-subcategory-2.png');
            background-size: 380px 380px;
            background-repeat: no-repeat;
            background-position: 9px 130px;
        }
        &.Скидка {
            background-color: $peach-offer-bg;
            border: 1px solid inherit;
            background-image: url('../../images/products/offers-subcategory-3.png');
            background-size: 302px 296px;
            background-repeat: no-repeat;
            background-position: 6px 140px;
        }
        &.Комбо {
            background-color: $yellow-offer-bg;
            border: 1px solid inherit;
            background-image: url('../../images/products/offers-subcategory-4.png');
            background-size: 584.54px 509px;
            background-repeat: no-repeat;
            background-position: -181.54px 100px;
        }
    }
    &__title {
        font-size: 1.875rem;
        font-weight: 600;
        position: relative;
        top: 47px;
        right: 0;
        bottom: 0;
        left: 39px;
        max-width: 234px;
        transition: font-size 0.3s ease-in-out;

        &.Акции {
            font-size: 1.625rem;
            top: 30px;
            left: 36px;
        }
    }
    &__image {
        width: 100%;
        height: 100%;  
    }
    &__extra {
        display: inline-block;
        font-size: 1rem;
        text-align: center;
        font-weight: 700;
        color: $black;
        background-color: $white;
        border: 1px solid $white;
        border-radius: 39px;
        padding: 9px 10px 9px 18px;
        height: 40px;
        position: relative;
        top: 39px;
        left: 34px;
    }
}
