$catalog-item-bg-hover: #FFF5E0;
$catalog-radio-button-bg: #FFA90059;
$catalog-radio-button-checked: #FF0000;

$catalog-filter-bg: #FFF8EB;
$catalog-filter-border: #FFA90073;
$catalog-filter-bg-active: #FFA900;
$catalog-filter-border-active: #FFA90073;

$catalog-filter-clear-border: #83838373;
$catalog-filter-clear-text: #C3C3C3;

$catalog-item-border: #DADADA;

.catalog {
   display: flex;

   &-title {
      font-size: 2rem;
      font-weight: 700;
      text-transform: uppercase;
   }
   &-aside {
      display: flex;
      flex-direction: column;
      gap: 7px;
      width: 100%;
      max-width: 314px;

      &__title {
         font-size: 1.25rem;
         font-weight: 700;
         text-transform: uppercase;
         margin: 40px 0 8px;
      }
      &__list {
         display: flex;
         justify-content: center;
         flex-direction: column;
         gap: 10px;

         &-title {
            font-size: 1.25rem;
            font-weight: 700;
         }
      }
      &__item {
         list-style-type: none;
         cursor: pointer;
         
         &--category {
            font-size: 1.25rem;
            padding-left: 25px;
         }
         &:hover {
            background-color: $catalog-item-bg-hover;
            border: 1px solid $catalog-item-bg-hover;
            border-radius: 2px;
         }
         &-label {
            font-size: 1.25rem;
            font-weight: 700;
            padding-left: 24px;
            position: relative;
            cursor: pointer;

            &--radio::before {
               content: '';
               display: inline-block;
               width: 20px;
               height: 20px;
               border-radius: 50%;
               background-color: $catalog-radio-button-bg;
               position: absolute;
               left: 0;
               top: 50%;
               transform: translateY(-50%);
           }
           &--radio::after {
               content: '';
               display: none;
               width: 7px;
               height: 7px;
               border-radius: 50%;
               background-color: $catalog-radio-button-checked;
               position: absolute;
               left: 7px;
               top: 50%;
               transform: translateY(-50%);
           }
         }
         &-radio {
            display: none;
         }
         &-radio:checked + &-label--radio::after {
            display: block;
        }
         &--radio {
            display: flex;
            gap: 8px;
         }
      }
   }
   &-section {
      margin-top: 40px;
      
      &__list {
         display: flex;
         flex-wrap: wrap;

         &--categories {
            gap: 10px;
         }
         &--products {
            justify-content: center;
            align-items: center;
            gap: 25px;
         }
      }
      &__item {
         list-style-type: none;

         &-button {
            border: 1px solid $catalog-filter-border;
            border-radius: 16px;
            background-color: $catalog-filter-bg;
            font-weight: 700;
            padding: 8px 24px;
            cursor: pointer;

            &--selected {
               border: 1px solid $catalog-filter-border-active;
               background-color: $catalog-filter-bg-active;
               color: #fff;
               position: relative;

               &::after {
                  content: ' x';
               }
            }
            &--clear {
               border: 1px solid $catalog-filter-clear-border;
               border-radius: 16px;
               background-color: inherit;
               color: $catalog-filter-clear-text;
               padding: 8px 17px;
               cursor: pointer;
               position: relative;

               &::after {
                  content: ' x';
               }
            }
            &--product {
               display: flex;
               justify-content: center;
               flex-direction: column;
               border: 1px solid $catalog-item-border;
               border-radius: 20px;
               background-color: inherit;
               width: 304px;
            height: 406px;
            }
         }
      }
      
   }
}